/***************************
* 
* style.css for Simple theme
* for GetSimple CMS
*
* Original theme by
* Chocotemplates.com
* 
* Modified and adapted
* by Alexander Amatuni
* 
***************************/


/*******************
* Reset + Generic
*******************/

* { 
    margin: 0; 
    padding: 0; 
}

body, html { height: 100%; }

body {
    color: #828282;
    font-family: arial, sans-serif;    
	font-size: 12px;
	line-height: 1.8;
    max-width: 100%;
	min-width: 980px;
}

a { 
    color: #067aa7; 
    cursor: pointer;
    text-decoration: none; 
}

a:hover { text-decoration: underline; }

a.view { 
    display: list-item;
    float: right; 
    font-size: 10px; 
}

blockquote {
    background-color: rgb(223, 223, 223);
    background-color: rgba(223, 223, 223, 0.85);
    border-left: 6px double rgb(151, 151, 151);
    color: rgb(151, 151, 151);
    font-style: italic;
    padding: 6px;
    padding-left: 12px;
}

code { font-family: monospace; }

h2 { 
    color: #2d2d2d; 
    font-family: 'Ubuntu', sans-serif; 
    font-size: 28px; 
    font-weight: 500; 
    line-height: 28px;
    padding-bottom: 12px; 
}

h3 { 
    color: #2d2d2d; 
    font-family: 'Ubuntu', sans-serif; 
    font-size: 20px; 
    font-weight: 500; 
    line-height: 22px; 
    padding-bottom: 8px; 
}

h4 { 
    color: #2d2d2d; 
    font-family: 'Ubuntu', sans-serif; 
    font-size: 16px; 
    font-weight: 500; 
    line-height: 18px; 
    padding-bottom: 6px; 
}

h5 { 
    color: #2d2d2d; 
    font-family: 'Ubuntu', sans-serif; 
    font-size: 14px; 
    font-weight: 400; 
    line-height: 14px; 
    padding-bottom: 4px; 
}

h6 { 
    color: #2d2d2d; 
    font-family: 'Ubuntu', sans-serif; 
    font-size: 12px; 
    font-weight: 400; 
    line-height: 12px; 
    padding-bottom: 2px; 
}

hr {
    color: rgb(223, 223, 223);
    color: rgba(223, 223, 223, 0.85);
    margin: 18px auto;
}

img.right,
a.right img,
img[align="right"],
img[style*="float: right"],
img[style*="float:right"] { margin-left: 16px; }

img.left,
a.left img,
img[align="left"],
img[style*="float: left"],
img[style*="float:left"] { margin-right: 16px; }

pre {
    background-color: rgb(100, 100, 100);
    color: rgb(223, 223, 223);
    padding: 6px;
}

table th {
    background-color: rgb(55,178,227);
    background-color: rgba(55,178,227,0.8);
    color: #ffffff;
    font-style: italic;
    font-weight: 700;
    padding: 4px;
}

table td {
    border-right: 1px dotted rgb(171, 171, 171);
    border-top: 1px dotted rgb(151, 151, 151);
    padding: 4px; 
}

table tr td:last-child { border-right: none; }

/*******************
* Utility classes
*******************/

.clear:after,
.cl:after {
    clear: both;
    content: "";
    display: table;
}

.left,
.right { display: inline-block; }
.left  { float: left; }
.right { float: right; }

.text-center { text-align: center; }

/*******************
* Layout
*******************/

article, aside, details, footer, header, menu, nav, section { display: block; }

.shell  { 
    margin: 0 auto; 
    width: 980px; 
}

.shell:after {
    clear: both;
    content: "";
    display: table;
}

/*******************
* Navigation
*******************/

.mobile-menu-icon { display: none; }

.top-nav  { 
    background: #b6dde7;
    overflow: visible;
    position: relative; 
    z-index: 100;
} 

.top-nav .shell {
    background-color: inherit;
    position: relative;
}

.top-nav .shell:before {
    border-radius: 400px / 10px;    
    bottom: 0;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    content: "";
    left: 10px;
    position: absolute; 
    right: 10px;
    top: 50%;
    z-index: -2;
}

.top-nav ul { 
    font-family: 'Ubuntu', sans-serif; 
    font-size: 16px; 
    font-weight: 700;  
/*    line-height: 58px; */
    list-style-type: none; 
    text-transform: uppercase; 
}

.top-nav ul li { 
    border-right: 1px solid #dbeef3; 
    float: left; 
    position: relative;
}

.top-nav ul li a { 
    border-right: 1px solid transparent;
    box-sizing: border-box;
    color: #239cc5; 
    display: inline-block;
    padding: 15px 34px; 
    text-shadow: rgba(255,255,255,0.8) 0 1px 0;
}

.top-nav ul li a:hover,
.top-nav ul li.current a { 
    background: #c8e6ed; 
    color: #00719d; 
    text-decoration: none; 
}

.top-nav ul li.current  { border-right: 1px solid #B4CFD5; }
.top-nav ul li.current a { border-right: 1px solid #BDE0E9; }

.top-nav ul li ul {
    background: #b6dde7;
    display: none;
    position: absolute;
}

.top-nav li:hover ul {
    box-shadow: 0 6px 6px rgba(0,0,0,0.5);    
    display: block;
}

.top-nav ul li ul li,
.top-nav ul li ul li a {
    display: block;
    width: 100%;
}

/*******************
* Header
*******************/

.header-center { 
    background: #27A0C6; 
    border-bottom: 1px solid #4EA6C4;
    box-shadow: inset 0 25px 35px -20px rgba(0,0,0,0.22), inset 0 -25px 35px -20px rgba(0,0,0,0.22);
    min-height: 180px;
    position: relative; 
    width: 100%; 
}

.big-header .header-center {
    min-height: 280px;
}

.header-inner { 
    margin-bottom: -50px;
    position: relative; 
}

#logo { font-weight: bold; }

#logo a {
    color: #ffffff;
    font-size: 74px;
    font-weight: bolder;
    letter-spacing: -6px;
    line-height: 1.1;
    text-shadow: rgba(0,0,0,0.5) 0 1px 2px;
}

#logo a:hover { text-decoration: none; }
 
.header-cnt { 
    padding-top: 30px; 
    width: 422px; 
}

.header-cnt .title { 
    color: #fff; 
    font-family: arial, sans-serif; 
    font-size: 40px;  
    font-weight: normal; 
    line-height: 1.2; 
    text-shadow: rgba(0,0,0,0.5) 0 1px 2px; 
}

.header-cnt p { 
    color: #fff; 
    padding-bottom: 10px; 
    text-shadow: rgba(0,0,0,0.5) 0 1px 2px; 
}

.header-cnt a {
    color: #b6dde7;
}

.header-cnt a.blue-btn { 
    border-bottom: 1px solid #ffffff;
    bottom: -15px;
    box-shadow: 0 10px 30px -10px rgba(0,0,0,0.5);
    font-size: 16px; 
    position: relative; 
    text-shadow: 0 1px 2px rgba(0,0,0,0.5); 
    z-index: 300;
}

/*******************
* Slider
*******************/

.slider-holder { 
    position: absolute; 
    right: 12px; 
    top: 24px; 
    width: 525px; 
    z-index: 90;
}

.slider-holder .slider-frame {
    background: rgb(236,236,236);
    background: -moz-linear-gradient(top, rgba(236,236,236,1) 0%, rgba(236,236,236,1) 79%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,236,236,1)), color-stop(79%,rgba(236,236,236,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(236,236,236,1) 0%,rgba(236,236,236,1) 79%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(236,236,236,1) 0%,rgba(236,236,236,1) 79%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(236,236,236,1) 0%,rgba(236,236,236,1) 79%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(236,236,236,1) 0%,rgba(236,236,236,1) 79%,rgba(255,255,255,1) 100%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: -3px -2px 7px rgba(0,0,0,0.4), 3px -2px 7px rgba(0,0,0,0.4);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#ffffff',GradientType=0 );
    padding: 16px 14px; 
    position: relative;
}

.slider-holder .slider-frame:after {
    border-radius: 220px / 45px;    
    bottom: 0;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.5);
    content: "";
    left: 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: -2;
}

.slider-holder .flexslider { 
    line-height: 1;
    text-align: center;  
    width: 100%; 
}

.slider-holder .flexslider ul.slides { 
    list-style: none; 
    position: relative; 
}
.slider-holder .flexslider ul.slides li img { 
    height: auto; 
    width: 100%; 
}

.flex-control-nav { 
    background-color: rgb(11,11,11); 
    background-color: rgba(11,11,11,0.8); 
}
.flex-control-nav li a {
    background: linear-gradient(to bottom, rgba(196,196,196,1) 0%,rgba(245,245,245,1) 100%);
    background-position: 0;
    border-radius: 50%;
    display: inline-block;
    height: 16px;
    margin-right: 4px;
    width: 16px;
}
.flex-control-nav li a:hover,
.flex-control-nav li .active { background: linear-gradient(to bottom, rgba(55,178,227,1) 0%,rgba(0,97,135,1) 100%); }

/*******************
* Main Content
*******************/

main { 
    border-top: 2px solid #1E809D;
    box-shadow: inset 0 25px 35px -20px rgba(0,0,0,0.22), inset 0 -25px 35px -20px rgba(0,0,0,0.22);
    padding-bottom: 42px;
    position: relative; 
}

.big-header main {
    padding-top: 64px;
}

main section { 
    background-repeat: no-repeat;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image: linear-gradient(to right, rgba(223, 223, 223, 0), rgba(223, 223, 223, 0.85), rgba(223, 223, 223, 0));
    border-image-slice: 1;
    border-width: 0;
    box-shadow: 0 9px 4px -7px rgba(223, 223, 223, 0.35);
    margin-bottom: 24px;
    padding-bottom: 23px;  
    padding-top: 18px; 
}

.content section:last-child {
    border-bottom: none;
    box-shadow: none;
}

main .content { 
    float: left; 
    width: 615px; 
}

main ul,
main ol { 
    list-style-position: inside; 
    padding-top: 8px;  
}

main ul { list-style-type: disc; }
main li { padding-bottom: 5px; }
main li a { text-decoration: underline; }
main li a:hover { text-decoration: none; }
main li ul { margin-left: 12px; }

/*******************
* Sidebar
*******************/

.sidebar { 
    float: right; 
    width: 282px;  
}

.sidebar ul { list-style: none; }

.sidebar ul li { 
    background-repeat: no-repeat;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image: linear-gradient(to right, rgba(223, 223, 223, 0), rgba(223, 223, 223, 0.85), rgba(223, 223, 223, 0));
    border-image-slice: 1;
    border-width: 0;
    box-shadow: 0 9px 4px -7px rgba(223, 223, 223, 0.35);
    display: block;
    margin-bottom: 13px;
    padding-bottom: 15px; 
    position: relative; 
}

/*******************
* Columns
*******************/

main .cols { 
    padding-bottom: 16px;  
}

main .cols .col { 
    background-repeat: no-repeat;
    border-image: linear-gradient(to bottom, rgba(223, 223, 223, 0), rgba(223, 223, 223, 0.95), rgba(223, 223, 223, 0));
    border-image-slice: 1;
    border-right-style: solid;
    border-right-width: 2px;
    border-width: 0;
    box-shadow: 12px 0 4px -10px rgba(223, 223, 223, 0.35);    
    float: left; 
    margin-right: 12px; 
    padding-bottom: 8px; 
    padding-left: 8px;
    padding-right: 32px; 
    position: relative;    
    width: 292px; 
}

main .cols .col-double { width: 596px; }

main .cols .col:last-child { 
    border-right-width: 0;
    box-shadow: none;
    margin-right: 0;
    padding-right: 0; 
    width: 280px; 
}

.content .cols .col { 
    margin-right: 0;
    padding-left: 7px;
    padding-right: 0;
    width: 200px; 
}

.content .cols .col:last-child {
    width: 190px;
}

.cols:after {
    clear: both;
    content: "";
    display: table;
}

/*******************
* Forms & Buttons
*******************/

input, 
textarea, 
select,
option,
label { 
    font-family: arial, sans-serif;
    font-size: 14px; 
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='radio'],
textarea,
select { padding: 8px; }

input[type="radio"],
input[type="checkbox"] { 
    box-shadow: 0 2px 3px rgba(251,251,251,.24);
    margin-right: 8px;
}

input[type="radio"] + label,
input[type="checkbox"] + label { margin-right: 12px; }

.button {
    background: rgb(50,177,227);
    background: -moz-linear-gradient(top, rgb(50,177,227) 0%, rgb(5,97,142) 99%);
    background: -ms-linear-gradient(top, rgb(50,177,227) 0%,rgb(5,97,142) 99%);
    background: -o-linear-gradient(top, rgb(50,177,227) 0%,rgb(5,97,142) 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(50,177,227)), color-stop(99%,rgb(5,97,142)));
    background: -webkit-linear-gradient(top, rgb(50,177,227) 0%,rgb(5,97,142) 99%);
    background: linear-gradient(to bottom, rgb(50,177,227) 0%,rgb(5,97,142) 99%);
    border: 2px solid #0590CF;
    border-radius: 7px;
    color: #fff; 
    display: inline-block;    
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32b1e3', endColorstr='#05618e',GradientType=0 );
    font-family: 'Ubuntu', sans-serif; 
    font-weight: 700; 
    max-width: 198px; 
    padding: 5px 20px 8px;
    text-align: center;     
    text-shadow: rgba(0,0,0,0.5) 0 1px 1px; 
}

.button:hover {
    background: rgb(5,97,142);
    background: -moz-linear-gradient(top, rgb(5,97,142) 0%, rgb(50,177,227) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(5,97,142)), color-stop(100%,rgb(50,177,227)));
    background: -webkit-linear-gradient(top, rgb(5,97,142) 0%,rgb(50,177,227) 100%);
    background: -o-linear-gradient(top, rgb(5,97,142) 0%,rgb(50,177,227) 100%);
    background: -ms-linear-gradient(top, rgb(5,97,142) 0%,rgb(50,177,227) 100%);
    background: linear-gradient(to bottom, rgb(5,97,142) 0%,rgb(50,177,227) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05618e', endColorstr='#32b1e3',GradientType=0 );   
    text-decoration: none; 
}

/*******************
* Footer 1
*******************/

#footer { 
    max-height: 280px; 
    position: relative; 
}

.footer-cols {
    background: #27A0C6; 
    border-bottom: 1px solid #ffffff;
    box-shadow: inset 0 25px 35px -20px rgba(0,0,0,0.22), inset 0 -5px 10px -3px rgba(0,0,0,0.22);
    color: #fff;
    padding: 26px 0; 
}

.footer-cols .col { 
    float: left; 
    padding-right: 24px; 
    width: 226px; 
}

.footer-cols .col:last-child { padding-right: 0; }

.footer-cols h3 a:hover { 
    color: #bdbdbd;  
    text-decoration: none; 
}

.footer-cols h3 { 
    color: #fff; 
    font-family: 'Ubuntu', sans-serif; 
    font-size: 21px; 
    font-weight: 500; 
    line-height: 28px; 
    padding-bottom: 12px; 
    text-shadow: rgba(0,0,0,0.6) 0 1px 2px; 
}

.footer-cols a { color: #fff; }
.footer-cols ul { list-style: none; }
.footer-cols ul li { padding-bottom: 6px; }

.footer-cols ul li:before {
    color: #50ADCD;
    content: "•";
    margin-right: 4px;
}

/*******************
* Footer 2
*******************/

.footer-bottom { 
    background: #b3dce6; 
    height: 14px; 
    padding: 22px 0 18px 0; 
}

.footer-nav { float: left; font-size: 11px; line-height: 11px;  }
.footer-nav ul { list-style: none; }
.footer-nav ul li { float: left; }

.footer-nav ul li:before {
    content: "|";
    margin-left: 10px;
    margin-right: 10px;
}

.footer-nav ul > li:first-child:before {
    content: "";
    margin-left: 0;
    margin-right: 0;
}

.footer-nav ul a { color: #6b848a; }

.footer-bottom p.copy { 
    color: #6b848a;  
    float: right; 
    line-height: 11px; 
}

.footer-bottom p.copy span  { padding: 0 9px;  }
.footer-bottom p.copy a { text-decoration: underline; }
.footer-bottom p.copy a:hover { text-decoration: none; }

/*******************
* Media 768 - 980
*******************/

@media only screen and (min-width: 768px) and (max-width: 980px) {
	body { min-width: 768px; }
    
    a.view { font-size: 12px; }
    
	.shell { max-width: 768px; }
	
    .top-nav ul { font-size: 14px; }
	.top-nav ul li a { padding: 12px 24px; }

	.header-inner { 
        padding: 0 20px 22px; 
        width: 728px;  
    }

	.header-cnt { width: 295px; }
    
    #logo a {
        font-size: 56px;
        letter-spacing: -5px;
        line-height: 1;
    }
	
    .header-cnt .title { 
        font-size: 30px; 
        line-height: 1.1; 
    }
	
    .slider-holder { 
        padding: 30px 35px 0; 
        right: 0;  
        top: 10px; 
        width: 410px;       
    }

    main { box-shadow: inset 0 -25px 35px -20px rgba(0,0,0,0.22); }
	
    main section,
    main .cols { 
        border-bottom: none;
        box-shadow: none;
        padding-bottom: 0;  
    }
    
	main .cols .col { 
        border-right: none;
        box-shadow: none;
        margin-right: 0;
        padding-left: 0;
        padding-right: 15px; 
        width: 232px; 
    }
    
    main .cols .col-double { width: 464px; }
    
	main .cols .col:last-child { width: 232px }
    
	main .cols .col img { 
        display: block; 
        float: none; 
    }
	
	main .content,
    main .sidebar { 
        display: block; 
        float: none; 
        width: 100%; 
    }
	
	.footer-cols .shell { 
        padding-left: 20px; 
        padding-right: 20px; 
        width: 728px; 
    }
    
	.footer-cols .col { 
        padding-right: 20px; 
        width: 166px; 
    }
	
	.footer-bottom { min-height: 48px;}
	
    .footer-bottom .footer-nav { 
        display: block; 
        float: none; 
        padding-bottom: 16px;
    }
	
    .footer-bottom p.copy { 
        clear: both; 
        display: block; 
        float: none; 
    }
    
	.footer-bottom .shell { 
        padding-left: 20px; 
        width: 748px; 
    }
}

/*******************
* Media < 767px
*******************/

@media only screen and (max-width: 767px) { 
	body { min-width: 320px;}
    a.view { font-size: 12px; }
	
    img.left,
    img.right { 
        float: none;
        margin: auto !important;
    }
    
    .shell { 
        box-sizing: border-box;
        max-width: 100%; 
        padding: 0 10px 0;
    }

    #logo a {
        font-size: 56px;
        letter-spacing: -5px;
        line-height: 1;
    }
	
    .mobile-menu-icon {
        background-color: #b6dde7;
        box-shadow: 0 0 6px rgba(0,0,0,0.5);
        color: #239cc5;
        display: inline-block;
        float: right; /* ?? */
        font-size: 32px;
        padding: 4px 16px;
        position: relative;
        z-index: 10000;
    }
    
    .mobile-menu-icon:hover { text-decoration: none; } 
    
    .top-nav { display: none; }
    
    .header-center { min-height: auto !important; } /* ?? */
    
	.header-inner { 
        background: transparent; 
        -moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box; 
        height: auto !important;
        margin-bottom: 0;
        padding: 0 10px 22px; 
    }
    
	.header-cnt { 
        padding-top: 20px;  
        width: 100%;  
    }
    
	.header-cnt a.blue-btn { bottom: -20px; }
    
	.header-cnt h3 { 
        font-size: 30px; 
        line-height: 1; 
    }
	
	.slider-holder { 
        margin: auto auto;
        margin-bottom: -300px;
        padding: 20px; 
        position: relative;
        width: 320px !important; 
    }
    
    main { 
        box-shadow: inset 0 -25px 35px -20px rgba(0,0,0,0.22);
        margin-top: 0;        
        padding-bottom: 40px;
    }
    
    .big-header main { padding-top: 300px !important; }

	main section {
        border-bottom: none;
        box-shadow: none;        
    }
    
    main .blog { padding-top: 10px; }
    
	main .content { 
        display: block;
        float: none; 
        padding-bottom: 30px;
        width: 100%; 
    }
    
	main .sidebar { 
        display: block; 
        float: none; 
        padding-right: 0; 
        width: 100%; 
    }
    
	main .cols .col { 
        background-repeat: no-repeat;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-image: linear-gradient(to right, rgba(223, 223, 223, 0), rgba(223, 223, 223, 0.85), rgba(223, 223, 223, 0));
        border-image-slice: 1;
        border-width: 0;
        box-shadow: 0 9px 4px -7px rgba(223, 223, 223, 0.35);  
        margin-right: 0; 
        padding-bottom: 20px; 
        padding-right: 0; 
        padding-top: 10px;        
        width: 100%; 
    }

	main .cols .col:last-child { 
        padding-right: 0; 
        width: 100%; 
    }
    
	.footer-cols .shell { 
        -moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box; 
        padding-left: 20px; 
        padding-right: 20px; 
        width: 100%; 
    }
    
	.footer-cols .col { 
        display: block; 
        padding-right: 0;  
        width: 100%; 
    }
    
	.footer-cols .col ul li { padding-right: 0; }
	.footer-cols .col .col-cnt { display: none; }
	.footer-cols .col:last-child { padding-right: 0; }
    
	.footer-bottom { 
        height: 48px; 
        line-height: 17px; 
    }
    
    .footer-bottom .shell { width: 100%; }
    
	.footer-bottom .footer-nav { 
        display: block; 
        float: none; 
        font-size: 10px;  
        padding-bottom: 16px; 
        text-align: center;  
    }
    
	.footer-bottom .footer-nav ul li { 
        display: inline; 
        float: none; 
        padding: 0 2px 0 4px; 
    }
    
	.footer-bottom  p.copy { 
        clear: both; 
        display: block; 
        float: none; 
        font-size: 10px;  
        text-align: center;  
    }
	
}